
<span class="user_profile"><h2><%=@user.name.capitalize%>'s Profile</h2></span>

<div id="friends">

  <% @user.user_friends.each do |friend| %>
    <div class="friends-list">
      <%= friend.find_friend.name %>
    </div>
  <% end %>
</div>
<div class= "timeline">
  <h5>Timeline</h5>
    <ul>
      <% @user.posts.each do |post| %>
      <div id="post">
        <%= post.content %> <br />
        <%="#{time(post.created_at)}" %>
      </div>
      <% end %>
    </ul>
</div>
