nav li {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}

li {
    padding-left: 30px;
}

p {
    display: inline;
    font-size: 1.6em;
}

.field {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
}

#nav-bar {
    background-color: blue;
    text-align: center;
}

#container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.timeline {
  float: right;
  text-align: center;
  border-style: solid;
  margin-right: 30%;
}
#post {
  padding-left: 40px;
  padding-right: 40px;
  pading-top: 40px;
  padding-bottom: 40px;
}

.user_profile {
  text-align: center;
}

.waves-effect.waves-light {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  display: inline;
  background-color: gray;
  margin-left: 800px;
  text-align: left;
}

.friends-list {
  float: left;
  text-align: center;
  border-style: solid;
  margin-right: 30%;
  padding-left: 40px;
}
